* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

:root {
    --white: #FFFF;
    --grey: grey;
    --grey1:#DDDDDD;
    --orange: #EE7100;
    --blue:#1E398F;
    --grey2:#F9F9F9;
    --grey3:#5B5B71;
    --grey4:#979797;
    --grey5:#A2A2A2;
    --black:#0000;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: var(--grey2);

}

header {
    background: url('./images/image\ 30.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg_shadow {
    background-color: rgba(0, 0, 0, 0.25);
    height: 100vh;
    width: 100%;
}



.nav_list {
    display: flex;
    list-style: none;
    gap: 82px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 23px;
    margin-right: 133px;
}

.header_logo {
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 45px;
    color: var(--white);
    margin-left: 71px;
    margin-top: 28px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

nav {
    border-bottom: 0.5px solid var(--white);
    padding-left: 20px;
    margin-top: 50px;
    padding-bottom: 17px;
}

.header_login {
    display: flex;
    justify-content: flex-end;
    padding-right: 137px;
    gap: 43px;
    margin-top: 22px;
    align-items: center;
}

.header_form {
    width: 276px;
    height: 31px;
    border: 1px solid var(--grey);
    background: rgba(255, 255, 255, 0.37);
    border-radius: 8px;
    padding-left: 10px;
    display: flex;
    align-items: center;

}

.header_form input {
    width: 90%;
    border: none;
    outline: none;
    background: none;
    font-size: 1.6rem;
    color: var(--white);

}

.header_form i {
    font-size: 1.6rem;
    color: var(--white);
}

.user_icon {
    color: var(--white);
    font-size: 1.8rem;
}

.header_select {
    border: none;
    outline: none;
    background: none;
    color: var(--white);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 20px;
}

.header_select option {
    background: var(--grey);
}

.header_title {
    margin-top: 25px;
    margin-left: 72px;
    color: var(--white)
}

.header_title h1 {
    font-weight: 800;
    font-size: 8.6rem;
    line-height: 105px;
    width: 45%;
    margin-bottom: 25px;
}

.first_btn {
    color: var(--white);
    background: var(--orange);
    font-weight: 600;
    font-size: 2rem;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 11px 12px 11px 15px;
    border-radius: 6px;
    display: flex;
    margin-bottom: 25px;
    align-items: center;
    gap: 10px;
}

.second_btn button {
    background: none;
    color: var(--white);
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    border: 1px solid var(--white);
    font-weight: 600;
    font-size: 2rem;
    line-height: 25px;
    padding: 9px 15px 11px 15px;
}

.header_social_icons{
   font-size: 1.8rem; 
   width: 3%;
   margin-left: auto;
   list-style: none;
}
 
.header_social_icons li{
    margin-top: 10px;
}
.header_social_icons li a{
    color:var(--grey1);
}

  
