@media screen and (max-width:1053px) {
    nav{
        border:none;
    }

    .nav_list{
        flex-direction: column;
        position: fixed;
        left:-300;
        background-color: rgba(0,0,0,0.5);
        top:0;
        margin-top: 0px;
        gap:50px;
        height: 50vh;
        width: 220px;
        text-align: center;
        padding-top: 50px;
        transition: 1s ease-in-out;
        display: none;
        
    }

    #nav_check:checked ~ .nav_list{
        display: block !important;
        
    }

    label i{
        display: block !important;
        color: var(--white);
        font-size: 2.5rem;
    }

    main{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .footer_contact{
        width: 100%;
    }
    .header_h1{
        margin-top: 40px;
    }
}

@media screen and (max-width:629px) {
    
    .make_search{
        width:204px;
    }
}

@media screen and (max-width:558px) {
    
    .search {
        margin-right: 65px;
    }
    .footer_list{
        gap:15px;
    }

}

@media screen and (max-width:494px) {
    
    .search {
        gap:20px
    }
    .header_h1{
        font-size: 3.5rem;
    }

    .header_content{
        font-size: 2rem;
    }
}

@media screen and (max-width:720px) {
    
    .footer_contact{
        flex-direction: column-reverse;
        gap:15px
    }
}

@media screen and (max-width:451px) {
    
    .slider_btn{
        width: 415px !important;
    }
    form{
        flex-direction: column;
        gap:15px;
    }
    .footer{
        height: 280px !important;
    }

    ul a{
        font-size: 1.5rem;
    }
}


@media screen and (max-width:416px) {
    
    .search{
        margin-right: 35px;
        gap:15px;
    }

    .header_h1{
        margin-top: 75px !important;
    }

    .slider_btn button {
        font-size: 1.3rem !important;
    }
    .slider_btn{
        width:315px !important;
    }
}

@media screen and (max-width:425px) {
    .header_h1{
        font-size: 2.5rem;
        line-height: 35px;
        margin-top: 35px !important;
        margin-left:45px;
    }
    .header_content{
        font-size: 1.2rem;
        margin-top: 10px;
        margin-left:45px;
        margin-right: 20px;
        line-height: 25px;

    }
    .header_btn{
        padding: 4px 4px 4px 4px;
        font-size: 1.2rem;
        margin-left:45px;
    }
    .make_search{
        width:175px;
    }
}

@media screen and (max-width:320px) {
    .head_logo{
        margin-left: 45px !important;
    }
    .search{
        margin-right: 30px !important;
    }
    .make_search{
        width:130px;
    }
    .search_input{
        width: 90px;
    }


    .header_h1{
        margin-left:25px;
    }
    .header_content{
        
        margin-left:25px;
       

    }
    .header_btn{
     
        margin-left:25px;
    }

    .slider_btn button{
        font-size: 1.5rem !important;
    }

    ul a{
        font-size: 1.1rem !important;
    }

    form input{
        min-width:0px !important;
        font-size: 1.2rem;
    }
    form button{
        font-size: 1.4rem;
    }

    .centerSlider{
        min-width:270px !important;
    }

    .center_slider_content h3{
        font-size: 1.7rem !important;
    }

    .center_slider_content p{
        font-size: 1.5rem!important;
    }
    .sliders {
        margin-left: 30px;
    }

}

@media screen and (max-width:375px){
    
    .footer_list{
        gap:10px;
    }
}
